<!DOCTYPE html>
<html>

<head>
   <title>Chitter Application</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">  
    <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
    <h1>Sign in homie:</h1>

      <form method="post" action="/sessions">
	      Email: <input name="email" type="text">
	      Password: <input type="password" name="password">
	      <input type="submit" value="Sign in now">
    </form>
</body>

</html>
