<!DOCTYPE html>
<html>

<head>
  <title>Chitter Application</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">  
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
</head>

<body>
	<h1>Sign up now:</h1>
    <form action="/users" method="post">
      Name: <input name="name" type="text">
      Username: <input name="username" type="text">
      Email: <input name="email" type="text" value="<%= @user.email %>">
      Password: <input name="password" type="password">
      Confirm password: <input name="password_confirmation" type="password">  
      <input type="submit" value="Sign up now, homie!">
    </form>
</body>

</html>